* {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    background-color: #ebeaea;
    height: 9vh;
    align-items: center;
}

img {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: bold;
}

nav ul li .active {
    color: #3d3d3d;
    font-weight: bold;
}

.imgLogo{
    width: 32px;
    margin-right: 24px;
}

.item-left{
    flex: 50%
}

.item-right{
    flex: 50%;
    text-align: end;
    margin-right: 30px;
}

.item-right a {
    text-decoration: none;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

form {
    width: 350px;
    margin: 50px auto;
}

main {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    height: 120vh;
    background-color: #c7c7c7;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 5px;
    box-shadow: -1px 3px 5px #c7c7c7;
}

label {
    font-weight: bold;
}

textarea {
    resize: none
}

button {
    background-color: rgb(38, 37, 53);
    border: none;
    color: white;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 20px;
    float: right;
}
h1 {
    text-align: center;
    margin-top: 50px;
}