* {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    background-color: #ebeaea;
    height: 9vh;
    align-items: center;
    /* justify-content: center; */
}

img {
    width: 100%;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #3d3d3d;
    font-weight: bold;
}

nav ul li .active {
    color: orangered;
}

.imgLogo{
    width: 32px;
    margin-right: 24px;
}

.item-left{
    flex: 50%
}

.item-right{
    flex: 50%;
    text-align: end;
    margin-right: 30px;
}

.item-right a {
    text-decoration: none;
    padding: 8px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.item-kiri {
    flex: 50%;
    float: left;
    width: 450px;
    height: 200px;
    padding: 35px 15px;
}
.item-kanan {
    flex: 50%;
    float: right;
    width: 450px;
    height: 200px;
    
}